[Unit]
Description=Local archlinux repo update (/opt/archlinux/packages)
ConditionPathExists=/opt/archlinux/packages

[Service]
Type=oneshot
ExecStart=/usr/bin/repose -f -J applicative
WorkingDirectory=/opt/archlinux/packages
