[Unit]
Description=Synchronize cutbuffer from CLIPBOARD and PRIMARY
Documentation=http://www.nongnu.org/autocutsel/
PartOf=graphical-session.target

[Service]
ExecStart=sh -c "autocutsel & autocutsel -selection PRIMARY"
Restart=on-failure

[Install]
WantedBy=de.target
