[Unit]
Description=Synchronize cutbuffer from CLIPBOARD and PRIMARY
Documentation=http://www.nongnu.org/autocutsel/
PartOf=graphical.target

[Service]
Restart=on-failure
ExecStart=/bin/sh -c "autocutsel -selection CLIPBOARD & autocutsel -selection PRIMARY"
StandardError=journal

[Install]
WantedBy=graphical.target
