[Unit]
Description=BTC price ticker update timer

[Timer]
Unit=btc_ticker.service
OnActiveSec=0s
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
