# ~/.config/systemd/user/clipmenud.service
[Unit]
Description=clipmenu daemon
Documentation=file:///usr/bin/clipmenud
PartOf=graphical.target

[Service]
StandardError=journal
Restart=always
RestartSec=5s
ExecStart=/usr/bin/clipmenud
# NOTE: autocutsel manages primary selection
Environment=CM_SELECTIONS=clipboard
Environment=CM_MAX_CLIPS=5000
Environment=CM_DEBUG=0
Environment=CM_IGNORE_WINDOW=
Environment=CM_DIR=%t
Environment=CM_OWN_CLIPBOARD=1
Environment=CM_ONESHOT=0

Nice=10
ProtectSystem=strict
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=
RestrictRealtime=yes

[Install]
WantedBy=graphical.target
