# ~/.config/systemd/user/graphical.target
[Unit]
Description=Graphical Desktop
AllowIsolate=true
Requires=xorg-server.target
After=xorg-server.target
