[Unit]
Description=Last.fm updater for MPD - mpdscribble
Documentation=man:mpdscribble(1) https://mpd.wikia.com/wiki/Client:mpdscribble
Requisite=mpd.service
After=mpd.service network.target

[Service]
ExecStartPre=/usr/bin/mkdir -p '%C/mpdscribble'
ExecStart=/usr/bin/mpdscribble --no-daemon --conf '%E/mpd/mpdscribble.conf'
Slice=mpd.slice
NoNewPrivileges=yes
Nice=15
ProtectSystem=strict
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
StandardError=journal

[Install]
WantedBy=mpd.service
