# ~/.config/systemd/user/mpd-notification.service
[Unit]
Description=MPD Notification daemon
Documentation=file:/usr/share/doc/mpd-notification/README.html
Requires=dbus.socket
Requisite=mpd.service
After=dbus.socket mpd.service

[Service]
# systemd.service
Type=notify
Restart=always
RestartSec=60s
Environment=MPD_HOST=localhost MPD_PORT=6600
ExecStart=/usr/bin/mpd-notification -H "$MPD_HOST" -p "$MPD_PORT" -m "${XDG_MUSIC_DIR}" -t 15
# systemd.resource-control
Slice=mpd.slice
# systemd.exec
NoNewPrivileges=yes
Nice=15
ProtectSystem=strict
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=basic.target
Also=mpd.service
