# ~/.config/systemd/user/tmux-server.service
[Unit]
Description=tmux server @ %t/tmux-%U/default

[Service]
Type=forking
ExecStart=/usr/bin/tmux start-server
Environment=TMUX_TMPDIR=%t
StandardError=journal
Slice=shell-tmux-default.slice

[Install]
WantedBy=basic.target
