# ~/.config/systemd/user/udiskie.service
[Unit]
Description=udiskie - automount removable media

[Service]
Restart=on-failure
ExecStart=/usr/bin/udiskie
StandardError=journal

[Install]
WantedBy=basic.target
