# ~/.config/systemd/user/urxvtd.service
[Unit]
Description=urxvtd - terminal emulator daemon service
Documentation=man:urxvtd(1) man:urxvt(1)
PartOf=graphical-session.target

[Service]
Slice=urxvtd.slice
Restart=always
RestartSec=15s
ExecStart=/usr/bin/urxvtd
StandardError=journal
RuntimeDirectory=urxvt

[Install]
WantedBy=graphical.target
