# ~/.config/systemd/user/urxvtd.service
[Unit]
Description=urxvtd - terminal emulator daemon service
PartOf=graphical.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/urxvtd -o
StandardError=journal
Slice=shell-urxvtd.slice

[Install]
WantedBy=graphical.target
