# ~/.config/systemd/user/xandikos.service
#
# loosely based on /usr/lib/systemd/system/uwsgi@.service
#
# NOTE: requires uwsgi-plugin-python

[Unit]
Description=xandikos CalDAV/CardDAV server via uWSGI
Requisite=network.target
After=network.target
ConditionPathIsDirectory=%h/dav

[Service]
Type=notify
NotifyAccess=all
Restart=on-failure
ExecStart=/usr/bin/uwsgi --ini %E/xandikos/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Environment=XANDIKOSPATH=%h/dav
StandardOutput=journal
StandardError=journal
KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
