# file: ~/.config/systemd/user/xmonad.service
[Unit]
Description=XMonad tiling window manager (xinit)
PartOf=graphical-session.target

[Service]
ExecStartPre=-/bin/sh -c 'exec "$XMONAD_CONFIG_DIR/build" "$XMONAD_DATA_DIR/xmonad-$(uname -m)-linux"'
ExecStart=/bin/sh -c 'exec "$XMONAD_DATA_DIR/xmonad-$(uname -m)-linux"'
Restart=always
SyslogIdentifier=%P
StandardError=journal
Environment=XMONAD_CONFIG_DIR=%E/%p XMONAD_CACHE_DIR=%C/%p XMONAD_DATA_DIR=%C/%p

[Install]
WantedBy=graphical.target
