# file: ~/.config/systemd/user/xmonad.service
[Unit]
Description=XMonad tiling window manager (xinit)
PartOf=graphical.target

[Service]
ExecStartPre=-/bin/sh -c 'exec "%E/xmonad/build" "${XDG_DATA_HOME:-%h/.local/share}/%p/xmonad-$(uname -m)-linux"'
ExecStart=/bin/sh -c 'exec "${XDG_DATA_HOME:-%h/.local/share}/%p/xmonad-$(uname -m)-linux"'
Restart=always
SyslogIdentifier=%P
StandardError=journal

[Install]
WantedBy=graphical.target
