# ~/.config/systemd/user/xorg@.socket
[Unit]
Description=X11 socket DISPLAY=:%i

[Socket]
ListenStream=/tmp/.X11-unix/X%i
#SocketMode=0770
#DirectoryMode=0770
