# ~/.config/systemd/user/xorg@.service
#
# NOTE: Needs a modified <url:file:/etc/X11/Xwrapper.config> with contents:
#	allowed_users=anybody
#	needs_root_rights=yes
[Unit]
Description=Xorg server at display %i
Requires=xorg@%i.socket xorg-server.target
After=xorg@%i.socket
Before=xorg-server.target

[Service]
ExecStartPre=-/usr/bin/systemctl --user set-environment DISPLAY=:%i XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/Xorg :%i -noreset -keeptty -novtswitch -ardelay 150 -arinterval 50 -nolisten tcp -nolisten local -verbose 2 vt${XDG_VTNR}
ExecStopPost=-/usr/bin/systemctl --user unset-environment DISPLAY XAUTHORITY
Restart=no
StandardError=journal

#SuccessExitStatus=0 1
#StandardInput=tty
#TTYPath=
#TTYReset=yes
#TTYVHangup=
#TTYVTDisallocate=?yes?
