[Unit]
Description=Load X resources ~/.Xresources
PartOf=graphical.target
After=xorg-server.target

[Service]
Type=oneshot
Restart=on-failure
TimeoutSec=5s
ExecStart=/usr/bin/xrdb -display "$DISPLAY" -all -override -I "%E/xrdb" "%h/.Xresources"

[Install]
WantedBy=graphical.target
