# file: ~/.gitignore

/*
/.*_history
/.Xauthority
/.cache/
/.ecr/
/.ghc/ghci_history
/.hplip/
/.lbdb/m_inmail*
/.lesshst
/.local/
/.mozilla
/.nix-defexpr
/.nix-profile
/.nv/
/.password-store
/.pki/
/.rnd
/.snapshots/
/.terminfo/
