# file: ~/.gitignore

# Ignore top-level files and directories except dotfiles and "/bin"
/*
!/.*
!/bin

# Repositories
/.password-store

# Common
/.*_history
/.Xauthority
/.cache
/.gem/
/.icons
/.lesshst
/.local
/.nv/
/.snapshots/
/.ssh/id_rsa*
/.terminfo/

# Other
/.cabal/
/.ghc/ghci_history
/.bitcoin/
/.steam/
/.mozilla/
/.ecr/
/.packer.d/
/.terraform.d/
/.vagrant.d/
/.nix-defexpr/
/.nix-profile

# todo
/.rnd
/.gnupg/*~
/.gnupg/random_seed
/.pki/
/.abook/*~
/.lbdb/m_inmail*
/.hplip/
/.task/
/.cups/
/.java/

