# ~/.inputrc - Readline configuration.
# See <url:man:bash#^READLINE> for details.

# bell-style - one of none, visible or audible (default)
set bell-style visible

set blink-matching-paren on

# Command history                                                   {{{1

set history-preserve-point on

set mark-modified-lines on

#set revert-all-at-newline off

# Completions                                                       {{{1

set match-hidden-files off
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
#set completion-prefix-display-length 0
set completion-query-items 0
set page-completions on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on
# If enabled, readline does not insert characters from the completion that
# match characters  after  point  in the word being completed.
set skip-completed-text on
#set print-completions-horizontally off
set mark-directories on
set mark-symlinked-directories on
#set visible-stats off

# Keys and keymaps                                                  {{{1

set keymap emacs
set keyseq-timeout 500
set enable-bracketed-paste on
set enable-keypad on

# Meta modifier                                                     {{{1

# NOTE: Meta-/\M- won't work if "convert-meta" is off, and locale is other than
# C (UTF-8)

set convert-meta    off
set input-meta      on
set output-meta     on
set enable-meta-key on

# Editing mode                                                      {{{1

set editing-mode emacs
set show-mode-in-prompt on
set emacs-mode-string  \1\e[1;35m\2@\1\e[0m\2
set vi-cmd-mode-string \1\e[0;34m\2C\1\e[0m\2
set vi-ins-mode-string \1\e[0;33m\2I\1\e[0m\2

# Bindings                                                          {{{1

# - <url:man:bash#Readline Command Names>
# - <url:man:bash#Commands for Moving>
# - <url:man:bash#Commands for Manipulating the History>
# - <url:man:bash#Commands for Changing Text>
# - <url:man:bash#Killing and Yanking>
# - <url:man:bash#Numeric Arguments>
# - <url:man:bash#Completing>
# - <url:man:bash#Keyboard Macros>
# - <url:man:bash#Miscellaneous>

TAB: menu-complete
# S-TAB
"\e[Z": menu-complete-backward
# BackSpace
"\e[3~": forward-backward-delete-char

$if term=rxvt
# C-Left, C-Right
"\eOc": forward-word
"\eOd": backward-word
$endif

$if Bash
# C-x &    tilde-expand
# C-x TAB  history-and-alias-expand
# C-x }    complete-into-braces (M-{)
# C-x u    uppercase current or prev word (upcase-word M-u)
# C-x d    downcase current or prev word (downcase-word M-d)
# C-x c    capitalize current or prev word (capitalize-word M-c)
# C-x "    Quote current or previous word ("")
# C-x '    Quote current or previous word ('')
"\C-x&": tilde-expand
"\C-x\t": history-and-alias-expand-line
"\C-x}": complete-into-braces
"\C-xu": "\eb\eu"
"\C-xd": "\eb\ed"
"\C-xc": "\eb\ec"
"\C-x\"": "\eb\"\ef\""
"\C-x\'": "\eb\'\ef\'"
$endif
