snippet header
##
#          File: `!v expand('%:p')`
#   Description: ${0:insert description}
#       Purpose: ${1:insert purpose}
# Documentation: ${2:link to manual}
#      See also:
#          Tips:
##
endsnippet
