snippet compose_en "Compose mail (en)"
Hi ${1:to},

${2:body}

Best Regards,

Samuli Thomasson
endsnippet


snippet compose_fi "Compose mail (fi)"
Hei ${1:to},

${2:body}

Terveisin,

Samuli Thomasson
endsnippet
