
snippet header
# File:	`!v expand('%:p:~')`
# Author: `!v g:author_name`
# Description: $1
# Documentation: $2
# License: `!v g:default_license`

endsnippet

snippet ''' "Multi-line string '''…'''" i
'''
${VISUAL:1}
'''
endsnippet
