/QtProject.conf
/GIMP
/gtk-2.0
/mpv/watch_later
/**/bookmarks
/**/quickmarks
/*-backup
/Mumble
/Trolltech.conf
/direnv
/evince/*
/google-chrome*
/inkscape/extension-errors.log
/inkscape/preferences.xml
/jesseduffield/lazygit/state.yml
/kicad/*
/llpp.conf
/menus
/mpd/*.db
/mpd/*.pid
/mpd/*.state
/pavucontrol.ini
/psd/.*
/pulse/*-default-*
/pulse/*.tdb
/pulse/cookie
